[submodule "spring-boot"]
	path = spring-boot
	url = git@github.com:spring-projects/spring-boot.git
[submodule "commons-lang"]
	path = commons-lang
	url = git@github.com:apache/commons-lang.git
[submodule "MPAndroidChart"]
	path = MPAndroidChart
	url = git@github.com:PhilJay/MPAndroidChart.git
[submodule "glide"]
	path = glide
	url = git@github.com:bumptech/glide.git
[submodule "redisson"]
	path = redisson
	url = git@github.com:redisson/redisson.git
[submodule "skywalking"]
	path = skywalking
	url = git@github.com:apache/skywalking.git
[submodule "git"]
    path = git
    url = git@github.com:git/git.git
[submodule "ruby"]
    path = ruby
    url = git@github.com:ruby/ruby.git
[submodule "cpython"]
    path = cpython
    url = git@github.com:python/cpython.git
[submodule "curl"]
	path = curl
	url = https://github.com/curl/curl.git
[submodule "obs-studio"]
	path = obs-studio
	url = https://github.com/obsproject/obs-studio.git
[submodule "FFmpeg"]
	path = FFmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "coturn"]
	path = coturn
	url = https://github.com/coturn/coturn.git
[submodule "sqlite"]
	path = sqlite
	url = https://github.com/sqlite/sqlite.git
